import { IEnv } from "./env.interface";

export const env: IEnv = {
    backend: {
        baseUrl: '{{ BACKEND_BASE_URL }}',
        endpoints: {
            project: '{{ BACKEND_ENDPOINT_PROJECT }}',
            authentication: '{{ BACKEND_ENDPOINT_AUTHENTICATION }}'
        }
    }
}