/* You can add global styles to this file, and also import other style files */

$primary: rgb(91,156,211)
$secondary: rgb(77,129,114)
$info: rgb(30,64,99)

@import "../node_modules/bootstrap/scss/bootstrap"
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")

svg
    z-index: -1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-sizing: border-box
    display: block
    background-color: #0e4166
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166)

@import "~quill/dist/quill.bubble.css"
@import "~quill/dist/quill.snow.css"